<!DOCTYPE html>
<html>
    <head>
        <title>Niggerweb</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="contenedor">
            <h1 class="h1"> bienvenido</h1>
            <label class="label">Ingresa tu nombre</label>
            <input type="text">
            <button class="boton-formulario">Aceptar</button>
            <a href="{{ url_for('calculadora') }}">Haz clic aquí para abrir la calculadora</a>
        </div>
    </body>
    <script type="text/javascript" src="https://contador.websiteout.com/js/24/15/999/0"></script>
</html>