<!DOCTYPE html>
<html>
    <head>
        <title>Wuh
Ay-ay
Wuh

[Verso 1: Armenta & Peso Pluma]
Una bolsita de Wanda, por cosmos rojo los ojos
Ay, que me gusta, me encanta
El exceso me llama, ando bien Mojo Jojo
Boutary, cenando en Francia
Después, directo pa' London
Al tiro las armas largas, diamonds en la tanga
Fuck, fantabuloso

[Coro: Tito Double P & Armenta]
En uno, Jacob & Co del padrino, algo bien
Aquí es Ferrari, no Mercedes-Benz
El show es denso, pues, si no, ¿pa' qué?
Pues, si no, ¿pa' qué?
El boss, si hay algún pedo, brincan en calor
Capi está listo y al tentón la Glock
Soy el Rey Midas, rosa el superón
Al modo James Bond
See Peso Pluma Live
Get tickets as low as $108

You might also like
chiclona
Peso Pluma, Tito Double P & LENCHO (MEX)
ganga
Peso Pluma, Tito Double P & El Randal
marianita
Peso Pluma, Tito Double P & Rey Quinto

[Interludio: Armenta, Peso Pluma & Tito Double P]
Y porque somos los que estamos, mi viejo
Compa Armenta, compa Tito
Arriba la puta Dinastía, mi viejo
¡Chau!
¡Ay, mamá!
Pórtate biеn
Ah
¿Cómo?, ¿cómo?, ¿cómo?

[Verso 2: Tito Double P & Armenta]
Bichi Bratz en la albercada
Saben, como yo no hay otro
Yеs, báilame, putimamá
Véngase a mi cama que te pongo un OXXO
Louis XIII o Blue en vaso rojo
Chompa demente, reloco
Montañas blancas de polvo
Los PRADA placosos por el humo los topo

[Coro: Peso Pluma & Tito Double P]
En uno, Jacob & Co del padrino, algo bien
Aquí es Ferrari, no Mercedes-Benz
El show está denso, pues, si no, ¿pa' qué?
Pues, si no, ¿pa' qué?
El boss, si hay algún pedo, brincan en calor
Capi está listo y al tentón la Glock
Soy el Rey Midas, rosa el superón
Al modo James Bond</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="contenedor">
            <h1 class="h1"> Wuh
Ay-ay
Wuh

[Verso 1: Armenta & Peso Pluma]
Una bolsita de Wanda, por cosmos rojo los ojos
Ay, que me gusta, me encanta
El exceso me llama, ando bien Mojo Jojo
Boutary, cenando en Francia
Después, directo pa' London
Al tiro las armas largas, diamonds en la tanga
Fuck, fantabuloso

[Coro: Tito Double P & Armenta]
En uno, Jacob & Co del padrino, algo bien
Aquí es Ferrari, no Mercedes-Benz
El show es denso, pues, si no, ¿pa' qué?
Pues, si no, ¿pa' qué?
El boss, si hay algún pedo, brincan en calor
Capi está listo y al tentón la Glock
Soy el Rey Midas, rosa el superón
Al modo James Bond
See Peso Pluma Live
Get tickets as low as $108

You might also like
chiclona
Peso Pluma, Tito Double P & LENCHO (MEX)
ganga
Peso Pluma, Tito Double P & El Randal
marianita
Peso Pluma, Tito Double P & Rey Quinto

[Interludio: Armenta, Peso Pluma & Tito Double P]
Y porque somos los que estamos, mi viejo
Compa Armenta, compa Tito
Arriba la puta Dinastía, mi viejo
¡Chau!
¡Ay, mamá!
Pórtate biеn
Ah
¿Cómo?, ¿cómo?, ¿cómo?

[Verso 2: Tito Double P & Armenta]
Bichi Bratz en la albercada
Saben, como yo no hay otro
Yеs, báilame, putimamá
Véngase a mi cama que te pongo un OXXO
Louis XIII o Blue en vaso rojo
Chompa demente, reloco
Montañas blancas de polvo
Los PRADA placosos por el humo los topo

[Coro: Peso Pluma & Tito Double P]
En uno, Jacob & Co del padrino, algo bien
Aquí es Ferrari, no Mercedes-Benz
El show está denso, pues, si no, ¿pa' qué?
Pues, si no, ¿pa' qué?
El boss, si hay algún pedo, brincan en calor
Capi está listo y al tentón la Glock
Soy el Rey Midas, rosa el superón
Al modo James Bond</h1>
            <label class="label">Ingresa tu nombre</label>
            <input type="text">
            <button class="boton-formulario">Aceptar</button>
        </div>
    </body>
</html>